@media screen and (max-width:426px) {
    /* nav bar */
    
    .nav-container{
        flex-direction: column;

    }
    .logo-container{
        margin-left: 0px;
    }
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container a{
        margin-top: 20px;
    }

    /* play like the GOAT */

    .play-goat{
        flex-direction: column;
    }
    .goat-text{
        width: 400px;
        margin-left: 20px;
        margin-top: 140px; 
    }
    #goat-img{
        max-width: 380px;
        margin: 30px 5px;
    }
}