@media screen and (max-width:426px) {
    /* nav bar */
    
    .nav-container{
        flex-direction: column;

    }
    .logo-container{
        margin-left: 0px;
    }
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container a{
        margin-top: 20px;
    }

    /* play like the GOAT */

    .play-goat{
        flex-direction: column;
    }
    .goat-text{
        width: 400px;
        margin-left: 20px;
        margin-top: 140px; 
    }
    #goat-img{
        max-width: 380px;
        margin: 30px 5px;
    }

    /* online games */
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
    .single-item p{
        margin-left: 25px;
    }
    .play-instantly{
        flex-direction: column;
    }
    .pi-text{
       text-align: center;
       margin: 20px auto;
       padding-top: 0px;
       padding-bottom: 0px;
    }
    .pi-img{
        margin-left: 80px;
        margin-top: 0px;
        padding-top: 0px;
    }
    #big{
        width: 300px;
    }
    #small{
        width: 150px;
        position: relative;
        bottom: 150px;
        right: 40px;
        
    }
}