@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/* nav bar */
.nav-container{
    align-items: center;
    display: flex;
    max-width: 1400px;
    margin: 0px auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 130px;

}
.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 30px;
}
.logo-container p{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}
.logo-container span{
    color: #FF42A5;
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item-container a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.nav-container img{
    width: 57px;
    flex-shrink: 0;
    height: 30px;
    margin: 10px;
}
.follow{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow img{
    width: 15%;
}
/* play like the GOAT */
.play-goat{
    display: flex;
}
.goat-text{
    width: 480px;
    flex-shrink: 0;
    margin-left: 100px;
    column-gap: normal;
    margin-top: 120px; 
}
.goat-img{
    width: 1750;
}
.goat-text h4{
    color: #0B0223;
    font-size: 32px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 20px;
}
.goat-text h1{
    font-size: 75px;
   font-weight: 800;
   margin-top: 0px;
   margin-bottom: 30px;
}
.goat-text p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

.btn-1{
    color: #fff;
    padding: 21px 40px;
    border-radius: 48px;
    background: #FF42A5;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.btn-2{
    background: #4EC5F7;
    color: #fff;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

 /* online games  */
 .online-games{
   text-align: center;
 }
 .og-title{
    color: #0B0223;
    font-weight: 700;
    font-size: 48px;
    margin: 80px auto 0px;
 }
 .og-discription{
    margin-top: 10px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
 }
.grid-container{
    display: grid;
    max-width: 1400px;
    margin: 50px auto 0px;
    min-height: 400px;
    grid-template-columns: repeat(4,1fr);
}
.single-item img{
    width: 280px;
    justify-content: space-around;  
}
.single-item p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    width: 342px;
}